.estrutura {
  display: grid;
  grid-template-columns: minmax(160px, 1fr) 3fr  300px;
  grid-template-areas: 
  "header header header"
  "sidenav content anuncios"
  "footer footer footer"
  ;
}

@media (max-width: 1200px) {
 .estrutura {
  grid-template-areas: 
  "header header header"
  "sidenav content content"
  "sidenav anuncios anuncios"
  "footer footer footer"
  ;
 }
}

@media (max-width: 760px ) {
.estrutura {
  grid-template-columns: 100%;
  grid-template-areas: 
  "header"
  "sidenav"
  "content"
  "anuncios"
  "footer"
  ;
}
}

.header {
  grid-area: header;
}
.sidenav {
  grid-area: sidenav;
}
.content {
  grid-area: content;
}
.anuncios {
  grid-area: anuncios;
}
.footer {
  grid-area: footer;
}
.col-wide {
  grid-column: 1/-1;
  max-width: 100%;
}
.image-1 {
  grid-row: span 2;
  align-self: end;
}
.image-2 {
align-self: end;
}