.header {
  background: var(--cor-p);
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}
.logo {
  max-width: 200px;
}
.header nav ul {
  display: flex;
  flex-wrap: wrap;
}
.header nav a {
  display: block;
  padding: 10px;
  color: var(--cor-0);
  font-size: 1.125em;
  background-color: var(--cor-1);
  border-radius: 5px;
  transform: 0.1s;
  }
  .header nav a:hover {
    background-color: var(--cor-2);
  }

  .header li + li {
    margin-left: 30px;
  }

  @media (max-width: 760px ) {
    .header {
      grid-template-columns: auto;
    }
    .logo {
      margin-bottom: 20px;
    }
    .header nav a {
      font-size: 1em;
    }
    .header li + li {
      margin-left: 10px;
    }
  }